body {
  margin: 0px;
}
.social-media-container {
  background-color: black;
  background-size: cover;
  height: 100vh;
}
.social-media {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.details-container {
  background-color: grey;
  border-radius: 12px;
  padding: 20px 20px;
  text-align: center;
}
img {
  border-radius: 50%;
}
.items-name {
  border: 2px solid #736f6f;
  border-radius: 10px;
  padding: 10px 20px;
  text-align: center;
  margin-top: 4px !important;
  cursor: pointer;
  transition: 1s ease-in-out !important;
  background-color: #6d6b6b;
}
.details-container p{
  color: #64bf81;
}
